{% extends 'base.html.twig' %}

{% block title %}Gérer les sites{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/site.css">
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="page-title">Gérer les sites</h1>

        <div style="margin-bottom: 20px;">
            <a href="{{ path('site_new') }}" class="btn btn-success">Ajouter un site</a>
        </div>

        {# Barre de recherche #}
        <form method="get" action="{{ path('app_sites') }}" class="search-form">
            <input type="text" name="search"
                   value="{{ app.request.get('search') }}"
                   placeholder="Rechercher un site...">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom du site </th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.nomSite }}</td>

                    <td>
                        <a href="{{ path('site_edit', {'id': site.idSite}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <a href="{{ path('site_delete', {'id': site.idSite}) }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Voulez-vous vraiment supprimer ce site ?');">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun site trouvée.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
