{% extends 'base.html.twig' %}

{% block title %}Formulaire Site{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/modifier-site.css">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>{{ titre }}</h1>

        {{ form_start(siteForm) }}
        {{ form_widget(siteForm) }}

        <div class="btn-group">
            <button type="submit" class="btn-submit">
                {{ titre }}
            </button>

            <a href="{{ path('app_sites') }}" class="btn-cancel">
                Annuler
            </a>
        </div>
        {{ form_end(siteForm) }}
    </div>

{% endblock %}
