{% extends 'base.html.twig' %}

{% block title %}Formulaire Ville{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/ville.css">
{% endblock %}
    
{% block body %}

    <div class="form-container">
        <h1>{{ titre }}</h1>

        {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}

        <div class="btn-group">
            <button type="submit" class="btn-submit">
               Modifier
            </button>

            <a href="{{ path('app_villes') }}" class="btn-cancel">
                Annuler
            </a>
        </div>
        {{ form_end(villeForm) }}
    </div>

{% endblock %}
